.app{
}
.top-wrapper{
  height:100px;
}
.content-wrapper{
  margin-top: 1%;
}
.left-wrapper{
  width: 30%;
  float: left;
  background-color: antiquewhite;
  height: 100%;
}

.right-wrapper{
  width:70%;
  float: right;
  background-color: aqua;
  height: 100%;
  text-align: center;
}